.book {
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px;
  text-align: left;
  cursor: pointer;
  position: relative;
  
}
.Top{
  background-color: #e3f2fd;
}
.bookCover {
  width: 220px;
  height: 220px;
  border: 4px solid #000;
  border-radius: 5px;
  object-fit: cover;
  position: absolute;
}

.bookTitle {
  width: 214px;
  background-color: #000;
  color: #fff;
  opacity: 7.5;
  margin-left: 3px;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin-top: 10px;
}


